:root{
	--danger:red;
	--title: white;
	--background-green-dark: #1c8779;
	--background-green-selected: #40bfa3;
	--background-cursor-hover: #b2ffee;
	--background-blocked: #0000005c;
	--text-deescription: #0c1c3b;
}
