h1{
	text-align: center;
    padding: 20px;
    font-family: "Roboto",arial,sans-serif;
    color: #6276b1;
    text-transform: uppercase;
    font-weight: normal;
}




.main-div{
	display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1100px;
    gap: 30px;
    justify-content: center;
}
.card-div{
	display: flex;
    width: 215px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    height: 215px;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}
.cuadro-div{
	display: flex;
    align-items: center;
    justify-content: center;
}
.cuadro-div img{
	width: 130px;
}
.info-div{
	font-family: "Roboto",arial,sans-serif;
	color: #48778f;
}
