.content-main{
	text-align: center;
}
.div-buttons{
	padding: 5px;
	display: grid;
	grid-template-columns: 50% 50%;
}
.button-selec{
	height: 60px;
	cursor: pointer;
	border: none;
	font-size: 1em;
}
.button-selec:hover{
	background: #F996A2;
	color: black;
}
.selected{
	background: #E6344A;
	color: white;
}
.div-tablas{
	margin-top: 10px;
}
.div-title-tabla{
	font-size: 1.5em;
	color: #023859;
}
.div-select-alumno{
	padding: 10px;
}
.div-cont-materia{
	margin-top: 10px 0;
	text-align: center;
}
.title-materia{
	width: 90%;
	margin: auto;
	display: flex;
	color: #E6344A;
	justify-content: space-between;
}
.div-content-items{
	margin: 10px auto;
	width: 90%;
	margin-top: 10px;
	text-align: left;
	border: 1px solid #023859;
	padding: 10px;
	color: #023859;
	border-radius: 5px;
}
.div-materia{	
	font-weight: bold;
}
.item{
	padding: 5px;
}
