.titulo{
	text-align: center;
	color: #006581;
	margin-bottom: 20px;
}


.contenedor{
	margin-top: 50px;
	
}
.contenedor-tables {
  display: flex;
  width:100%;
  justify-content:center;
  margin-top: 50px;
  margin-bottom:20px;
}
.contenedor-tabla{
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.tabla-reuniones{
	margin: auto;
}
textarea{
	border: 1px solid #F0F2F7;
	border-radius: 5px;
	padding: 0 5px 0 5px;
	height: 60px;
	font-family: sans-serif;
	font-size: 14px;
	background-color: white;
	max-width: 100%;
}
.btn {
  padding: 10px 30px;
  border: none;
  background-color: #006581;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}
a{
	text-decoration: none;
	color: #006581;
}
.btn-light{
	background-color: inherit;
	border: 0px;
}
.btn-light:hover{
	cursor: pointer;
}
.form{
	margin: auto;
	max-width: 500px;
	padding: 15px;
	background-color: #F0F2F7;;
	font-family:'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
.form div{
	margin: 10px;
	display: block;
}
.form div label{
	display: block;
}
.form div input{
	border: 1px solid #F0F2F7;
	border-radius: 5px;
	padding: 0 5px 0 5px;
	height: 30px;
	font-family: sans-serif;
	font-size: 14px;
	background-color: white;
}
.centrado{
	text-align: center;
}
.enlace{
	width: 100%;
}
.btn-submit{
	margin: 10px;
	width: 100px;
	height: 30px;
	background-color: #023859;
	border: 1px solid #023859;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}
.btn-submit:hover{
	margin: 10px;
	width: 100px;
	height: 30px;
	background-color: #0F4F76;
	border: 1px solid #0F4F76;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}
.table{
	border-collapse: collapse;
}
.btn-cancel{
	margin: 10px;
	width: 100px;
	height: 30px;
	background-color: #e6344a;
	border: 1px solid #e63500;
	color: white;
	border-radius: 3px;
	cursor: pointer;

}
.btn-cancel:hover {
	margin: 10px;
	width: 100px;
	height: 30px;
	background-color: #E84E61;
	border: 1px solid #E84E61;
	color: white;
	border-radius: 3px;
	cursor: pointer;

}
.formulario{
	margin-top: 20px;
	
}
.div-time div{
	display: inline-block;
	margin: 0;
	margin-right: 20px;
}
.table tbody tr:nth-child(even) {
  background-color: #a3deee;
}
.table td, .table th {
  padding: 12px 15px;
  border: 1px solid #006581;
  text-align: center;
}
.table th {
  background-color: #043c5c;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .contenedor-table-general, .contenedor-table-filtrada, .contenedor-table-preguntas {
      width:100%;
  }
  .table td {
        width:auto;
    }
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    text-align:left;
    width: 50%;
    padding-left: 15px;
    font-weight:bold;
  }
  #space{
      display: none;
    }
}